.Nav {
  $innerPadding: 100px;
  $innerPaddingMobile: 30px;
  $paneWidth: 350px + ($innerPadding * 2);
  $paneWidthMobile: 85vw;

  z-index: 999;

  &__Toggle {
    position: fixed;
    display: block;
    right: 35px;
    top: 35px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    z-index: 9999;
    background-image: url("/img/global/hamburger-open.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;

    @include breakpoint(sm) {
      right: 20px;
      top: 20px;
      width: 35px;
      height: 26px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__Pane {
    position: fixed;
    background-color: white;
    right: -$paneWidth;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    width: $paneWidth;
    padding: $innerPadding;
    z-index: 1100;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transition: 300ms right;

    @include breakpoint(sm) {
      width: $paneWidthMobile;
      max-width: 400px;
      right: calc(-1 * $paneWidthMobile);
      padding: $innerPaddingMobile;
      padding-top: 80px;
    }
  }

  &--isDark {
    .Nav__Toggle {
    background-image: url("/img/global/hamburger-open-white.svg");
    }
  }

  &--isVisible {
    .Nav__Toggle {
      background-image: url("/img/global/hamburger-close.svg");
    }
    .Nav__Pane {
      right: 0;
    }
  }

  &__Pane ul {
    margin: 0;
    padding: 0;
  }

  &__Item {
    list-style: none;
    margin: 0;
    padding-bottom: 10px;
  }

  &__Item a {
    display: grid;
    grid-template-columns: 100px 1fr;
    text-decoration: none;
    color: black;
    padding: 20px 30px;
    border-radius: 5px;
    transition: background-color 300ms;

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
      gap: 5px;
      padding: 15px 20px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__Item p {
    font-size: 14px;
    font-style: italic;
    color: gray;
    padding-top: 5px;

    @include breakpoint(sm) {
      font-size: 12px;
    }
  }
  &__Item p,
  &__Item h3 {
    margin: 0;
    text-align: left;
  }

  &__Item__Desc h3 {
    @include breakpoint(sm) {
      font-size: 18px;
    }
  }

  &__Item__Phase {
    font-weight: 300;

    @include breakpoint(sm) {
      h3 {
        text-transform: uppercase;
        font-size: 12px;
        color: gray;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }
  }

  &__Footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 20px;
    width: $paneWidth;
    font-size: 14px;
    font-style: italic;
    margin: 0 auto;
    margin-left: -$innerPadding;
    opacity: 0.3;
    transition: opacity 300ms;

    @include breakpoint(sm) {
      width: $paneWidthMobile;
      max-width: 400px;
      margin-left: -$innerPaddingMobile;
      font-size: 12px;
      padding: 15px;
    }

    a {
      color: black;
    }

    &:hover {
      opacity: 1;
    }
  }
}
