.Phase01 {
  font-family: "proxima-nova", sans-serif;
  background-color: white;

  &__Title {
    width: 60%;
    max-width: 600px;
    padding-top: 150px;
    margin: 0 auto;

    @include breakpoint(sm) {
      width: 80%;
      padding-top: 80px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }


  &__Entries {
    text-align: center;
    margin: 50px auto 50px auto;

    @include breakpoint(sm) {
      margin: 30px auto;
      padding: 0 10px;
    }
  }
}
