.Phase02 {
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  padding-bottom: 100px;
  display: block;

  @include breakpoint(sm) {
    padding-bottom: 60px;
  }

  &__Title {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    max-width: 500px;

    @include breakpoint(sm) {
      width: 80%;
      padding-top: 80px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__ComicTitles {
    // text-align: center;
    width: 100%;
    margin: 80px 0 30px 0;

    @include breakpoint(sm) {
      margin: 40px 0 20px 0;
    }

    ul {
      width: 100%;

      @include breakpoint(sm) {
        padding: 0 10px;
      }

      li {
        display: inline-block;

        @include breakpoint(sm) {
          display: block;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        button {
          background-color: rgba(0,0,0,0.1);
          border-radius: 0px;
          border: 1px solid black;
          // text-decoration: underline;
          padding: 10px 30px;
          cursor: pointer;
          margin: 0;
          margin-left: -1px;

          @include breakpoint(sm) {
            width: 100%;
            margin-left: 0;
            padding: 15px 20px;
            font-size: 16px;
          }

          &:hover {
            color: white;
          background-color: rgba(0,0,0,0.3);
          }

          &.isCurrent {
            text-decoration: none;
            font-weight: bold;
            color: white;
          background-color: gray;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

  &__Panels {
    max-width: 90%;
    margin: 0 auto;

    @include breakpoint(sm) {
      max-width: 95%;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto 20px auto;

      @include breakpoint(sm) {
        margin: 0 auto 15px auto;
      }
    }
  }
}
