.Phase-III {
  background-color: #f7f7f7;
  padding-bottom: 200px;
  &__Title {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 20px;
    max-width: 500px;
    mix-blend-mode: multiply;

    @include breakpoint(sm) {
      padding-top: 80px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .III-Content {
    font-family: "proxima-nova", sans-serif;
  }

  button {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
  small {
    font-size: 15px;
    color: gray;
    padding-bottom: 10px;
    display: block;
  }
  h4 {
    font-size: 25px;
    line-height: 17px;
    font-weight: bold;
    margin: 5px 0;
  }
  h2 {
    font-size: 27px;
    font-weight: bold;
    line-height: 27px;
  }
  .III-Grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .III-Grid ul {
    margin: 0 auto;
    display: grid;
    $gridSize: 250px;
    grid-template-columns: $gridSize $gridSize $gridSize;
    grid-template-rows: $gridSize $gridSize $gridSize;
    gap: 30px;

    @include breakpoint(sm) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 15px;
      padding: 0 10px;
    }
  }
  .III-Grid ul li {
    display: inline-block;
    cursor: pointer;
    list-style: none;
    padding: 15px;
    border: 1px solid transparent;
    transition: box-shadow 300ms, transform 300ms;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include breakpoint(sm) {
      padding: 10px;
      aspect-ratio: 1;
    }

    &:hover {
      border: 1px solid #eeeeee;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      -webkit-transform: scale(1.08);
      transform: scale(1.08);

      @include breakpoint(sm) {
        transform: scale(1.04);
        -webkit-transform: scale(1.04);
      }
    }
    .image {
      // width: 100%;
      // height: 100%;
      background-size: contain !important;
    }
  }

  .III-Entry-Buttons {
    @include breakpoint(sm) {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
    }
  }

  .III-Entry-Buttons button {
    border-radius: 0;
    background: none;
    border: 1px solid gray;
    margin: 0;
    display: block;
    width: 50%;
    float: left;
    padding: 20px;
    position: relative;
    cursor: pointer;
    margin-top: 30px;

    @include breakpoint(sm) {
      width: 50%;
      float: none;
      padding: 15px 10px;
      margin-top: 0;
      text-align: center !important;
    }

    &:hover {
      border: 1px solid gray;
      background-color: #eeeeee;
      z-index: 10;
    }
  }
  .III-Entry-Buttons button:nth-child(1) {
    text-align: right;

    @include breakpoint(sm) {
      text-align: center !important;
    }
  }
  .III-Entry-Buttons button:nth-child(2) {
    text-align: left;
    margin-left: -1px;

    @include breakpoint(sm) {
      text-align: center !important;
    }
  }
  .III-Entry-Buttons button.is-Showing {
    background-image: url("/img/global/close.png");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    border: 1px solid gray;
    z-index: 10;
    // background-color: black;

    @include breakpoint(sm) {
      background-image: none;
      background-color: white;
    }

    small {
      opacity: 0.7;

      @include breakpoint(sm) {
        opacity: 1;
      }
    }

    h4 {
      text-decoration: underline;

      @include breakpoint(sm) {
        text-decoration: none;
      }
    }

    &:hover {
      border: 1px solid black;
      opacity: 1;
      h4,
      small {
        opacity: 0.4;

        @include breakpoint(sm) {
          opacity: 1;
        }
      }
    }
  }
  .III-Entry-Buttons button.is-Showing:nth-child(1) {
    background-position: 5% center;

    @include breakpoint(sm) {
      background-position: 95% center;
    }
  }
  .III-Entry-Buttons button.is-Showing:nth-child(2) {
    background-position: 95% center;
  }
  .III-Nav {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 1000;

    @include breakpoint(sm) {
      height: 60px;
    }

    .III-Single-Width {
      padding: 20px 30px 0 30px;
      border-top: 1px solid #eeeeee;

      @include breakpoint(sm) {
        padding: 15px 20px 0 20px;
      }
    }
    .III-Nav-Grid {
      margin: 0 auto;
      display: table;
      width: 28px;
      height: 28px;
      background: url("/img/global/grid.png");
      background-size: 28px 28px;
      background-repeat: no-repeat;
      border: none;
      background-color: none;
      opacity: 0.3;
      &:hover {
        opacity: 0.8;
      }
    }
    .III-Nav-NextPrev {
      width: 60px;
      height: 30px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      border: none;
      opacity: 0.5;
      display: block;
      &:hover {
        opacity: 1;
      }
    }
    .III-Nav-Next,
    .III-Nav-HoldNext {
      float: right;
    }
    .III-Nav-Previous,
    .III-Nav-HoldPrevious {
      float: left;
    }
    .III-Nav-Next {
      background: url("/img/global/arrow-right.png");
    }
    .III-Nav-Previous {
      background: url("/img/global/arrow-left.png");
    }
  }
  .III-Response {
    width: 50%;
    padding-top: 50px;

    @include breakpoint(sm) {
      width: 100%;
      float: none !important;
      padding-top: 30px;
    }
  }
  .III-Response h2 {
    margin-bottom: 10px;
  }
  
  .III-ResponseButtons {
  }
  .u-clearboth {
    clear: both;
    margin-bottom: 30px;
  }
  
  .III-Response-Image img {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

  .ResponseText {
    font-family: "calluna", serif;
    font-size: 19px;
    line-height: 31px;

    @include breakpoint(sm) {
      font-size: 16px;
      line-height: 26px;
    }

    a {
      text-decoration: none;
      border-bottom: 1px dotted gray;
      color: black;
      &:hover {
        border-bottom: 1px solid black;
      }
      &:visited {
        color: gray;
      }
    }
    p {
      padding-bottom: 20px;

      @include breakpoint(sm) {
        padding-bottom: 15px;
      }
    }
  }
  .III-Single {
    padding-bottom: 150px;
    height: 100vh;

    @include breakpoint(sm) {
      padding-bottom: 100px;
      height: auto;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .III-Response {
      display: none;
    }
  }

  .III-Single .III-Response-Image {
    @include breakpoint(sm) {
      order: 1;
    }
  }

  .III-Single .III-Entry-Buttons {
    @include breakpoint(sm) {
      order: 2;
    }
  }

  .III-Single .III-ResponseButtons {
    @include breakpoint(sm) {
      order: 3;
    }
  }

  .III-Single .III-Nav {
    @include breakpoint(sm) {
      order: 4;
    }
  }
  .III-Single-Width {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;

    @include breakpoint(sm) {
      width: 95%;
    }
  }
  .III-Single img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    border: 10px solid white;
    display: block;

    @include breakpoint(sm) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      border: none;
      float: none !important;
      margin-bottom: 0;
    }
  }
  .III-Single#show_sanju img,
  .III-Single#show_nate img {
    width: 45%;
    height: auto;
    margin-top: 0;
    padding-top: 0;

    @include breakpoint(sm) {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
  .III-Single {
    &.show_sanju {
      .III-Response-Sanju {
        display: block;
        float: left;
      }
      img {
        float: right;
      }
    }
    &.show_nate {
      .III-Response-Nate {
        display: block;
        float: right;
      }
      img {
        float: left;
      }
    }
  }
}

// Phase III - Rorschach Blots
.Phase03 {
  font-family: "proxima-nova", sans-serif;

  .Phase03__Title {
    width: 40%;
    margin: 0 auto 50px auto;
    padding-top: 70px;

    @include breakpoint(sm) {
      width: 100%;
      padding-top: 80px;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  // Typography overrides
  button {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  small {
    font-size: 12px;
    color: lighten(gray, 20%);

    @include breakpoint(sm) {
      font-size: 10px;
    }
  }

  h4 {
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;

    @include breakpoint(sm) {
      font-size: 13px;
      line-height: 26px;
    }
  }

  h2 {
    font-size: 27px;
    font-weight: bold;
    line-height: 27px;

    @include breakpoint(sm) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  // Grid View
  .Phase03__Grid {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;

    li {
      display: inline-block;
      cursor: pointer;
      list-style: none;
      padding: 15px;
      border: 1px solid transparent;
      transition: box-shadow 300ms, transform 300ms;

      &:hover {
        border: 1px solid #eeeeee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.08);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // Selection View
  .Phase03__Selection {
    padding-bottom: 150px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;

    > button {
      margin: 0 auto;
      display: table;
      width: 28px;
      height: 28px;
      background: url("/img/global/grid.png");
      background-size: 28px 28px;
      background-repeat: no-repeat;
      border: none;
      background-color: transparent;
      opacity: 0.3;
      cursor: pointer;
      margin-top: 50px;
      margin-bottom: 30px;

      &:hover {
        opacity: 0.8;
      }
    }

    img {
      width: 45%;
      height: auto;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .Phase03__SanjuTab {
    width: 50%;
    float: left;

    img {
      float: right;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 27px;
      font-weight: bold;
      line-height: 27px;
    }
  }

  .Phase03__NateTab {
    width: 50%;
    float: right;

    img {
      float: left;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 27px;
      font-weight: bold;
      line-height: 27px;
    }
  }

  // Response text styling
  .ResponseText {
    font-family: "calluna", serif;
    font-size: 19px;
    line-height: 31px;

    a {
      text-decoration: none;
      border-bottom: 1px dotted gray;
      color: black;

      &:hover {
        border-bottom: 1px solid black;
      }

      &:visited {
        color: gray;
      }
    }

    p {
      padding-bottom: 20px;
    }
  }

  // Navigation
  .Phase03__Nav {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background: white;
    padding: 20px 30px 0 30px;
    border-top: 1px solid #eeeeee;

    .nav-button {
      width: 60px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      border: none;
      opacity: 0.5;
      display: block;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &.next {
        float: right;
        background-image: url("/img/global/arrow-right.png");
      }

      &.previous {
        float: left;
        background-image: url("/img/global/arrow-left.png");
      }
    }
  }
}
